.files-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.files-list--centered {
    justify-content: center;
}

.file {
    width: 250px;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .06);

    padding: 20px;
}

.file:first-of-type {
    margin-left: 0;
}

.file__name {
    font-size: 1.5rem;

    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}

.file__icon {
    width: 16px;
    height: 16px;
}

.file-disappear-exit {
    opacity: 1;
}

.file-disappear-exit-active {
    opacity: 0.01;
    transition: all 300ms ease-out;
}
